table {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}
th, td {
    border: 1px solid black;
  }

td {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: rgb(76, 93, 249);
}
